PORT=5000

# Supabase
SUPABASE_URL=https://neznujnrpvdqkqkbsmmk.supabase.co/rest/v1/
SUPABASE_ANON_KEY=your_anon_key_here
SUPABASE_SERVICE_KEY=your_service_key_here

# Groq (2 separate keys)
GROQ_API_KEY_PRESCRIPTION=your_groq_key_1_here
GROQ_API_KEY_CHATBOT=your_groq_key_2_here

# Firebase Backend (Admin SDK — from Service Account JSON)
FIREBASE_PROJECT_ID=medikiosk-site
FIREBASE_CLIENT_EMAIL=your_firebase_client_email@example.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour_private_key_here\n-----END PRIVATE KEY-----\n"

NODE_ENV=development

# Twilio (For OTP)
TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_VERIFY_SERVICE_SID=your_verify_service_sid

# Nodemailer / SMTP Email Service (Free)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=your-gmail@gmail.com
EMAIL_PASS=your-gmail-app-password
EMAIL_FROM=your-gmail@gmail.com

# Email Configuration
OTP_EXPIRY_MINUTES=5
OTP_MAX_ATTEMPTS=5
OTP_RATE_LIMIT_HOUR=5
